{% extends 'base.html' %}
{% block title %}Edit profile page!{% endblock %}
{% block content %}
<body style="background-color:#dadee0;">
{% if user.is_authenticated %}
    {% if user.id == profile.user.id %}
        <h1>Edit profile</h1>
        <div class="form-group">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn btn-dark">Update Profile Page</button>
            </form>
        </div>
    {% else %}
    You are not the correct user
    {% endif %}
{% else %}
You're not allowed here!
{% endif %}
{% endblock %}